@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #00a3b7;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

img {
  width: 80%;
  height: auto;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  background-color: #00a3b7;
  color: #fff;

  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
}
